<md-dialog aria-label="Device Detail">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="hide()">
                            <md-icon>close</md-icon>
                        </md-button>
                <h2>IP: {{device.ip}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
                <div>
                    <md-list ng-if="develop">
                        <md-list-item class="md-2-line">
                            <h3> {{develop}}</h3>
                        </md-list-item>
                    </md-list>
                        <md-list ng-if="!develop">
                                <md-list-item class="md-2-line">
                                    <md-icon class="md-accent">wb_sunny</md-icon>
                                    <div class="md-list-item-text">
                                        <h3> {{ temp1 }}&#176</h3>
                                        <p> Temp1 </p>
                                    </div>
                                    <div class="md-list-item-text second">
                                        <h3> {{ temp2 }}&#176</h3>
                                        <p> Temp2 </p>
                                    </div>
                                    <md-icon class="md-accent secondico">wb_sunny</md-icon>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item class="md-2-line">
                                    <md-icon class="md-accent">nfc</md-icon>
                                    <div class="md-list-item-text">
                                        <h3> {{ th5 }}</h3>
                                        <p>TH/s 5s </p>
                                    </div>
                                    <div class="md-list-item-text second">
                                        <h3> {{ thav }}</h3>
                                        <p> TH/s Avg </p>
                                    </div>
                                    <md-icon class="md-accent secondico">nfc</md-icon>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                            <md-button class="md-raised md-primary" ng-click="manage(device.ip)" target="_blank"><md-icon>cast</md-icon> Manage</md-button>
                </div>
        </md-dialog-content>
</md-dialog>