<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BOS/BOS+ API Client</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- AngularJS Material CSS now available via Google CDN; version 1.1.21 used here -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.21/angular-material.min.css">
    <link rel="stylesheet" href="assets/style.css" media="screen">
</head>

<body ng-app="BOSapiclient">
    <md-toolbar layout="row" layout-align="space-around center" layout-padding>
        <div class="md-toolbar-tools">
            <h2 layout="row">BOS API Client</h2>
        </div>
        <md-switch ng-model="Emergency">SOS</md-switch>
    </md-toolbar>
    <div ng-controller="deviceController">
        <div class="isloading" ng-show="isLoading" layout="row" layout-align="center center">
            <md-progress-circular md-mode="determinate"></md-progress-circular>
          </div>
        <md-subheader>
            <p class="md-body-2" layout-margin>
                <md-input-container class="md-icon-float md-block">
                    <label>Search</label>
                    <md-icon>search</md-icon>
                    <input ng-model='searchText' type="text">
                </md-input-container>
            </p>
        </md-subheader>
        <md-card ng-controller="panelController">
            <md-card-title>
                <md-card-title-text>
                    <div class="md-headline">
                            <md-icon class="md-secondary" ng-if="minerstatus.psu == null">offline_bolt</md-icon>
                            <md-icon class="on" ng-if="minerstatus.psu =='ON'">offline_bolt</md-icon>
                            <md-icon class="off" ng-if="minerstatus.psu =='OFF'">offline_bolt</md-icon>
                     Status / <span class="md-body-1"> IN: {{minerstatus.temp_in}} &#176</span>
                        <span class="md-body-1">OUT: {{minerstatus.temp_out}} &#176</span>
                        / <span class="md-body-1"> R: {{rCount}}, S: {{sCount}}, T: {{tCount}} </span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-raised md-primary" ng-click="psuStatus()" ng-if="!Emergency">
                        <md-icon>network_check</md-icon> Check
                    </md-button>
                    <md-button class="md-raised md-success" ng-click="psuRUN()" ng-if="!Emergency">
                        <md-tooltip md-direction="top">Latest Status ON</md-tooltip>
                        <md-icon>power_settings_new</md-icon> RUN
                    </md-button>
                    <md-button class="md-raised md-accent" ng-click="psuSTOP()" ng-if="!Emergency">
                        <md-tooltip md-direction="top">Latest Status OFF</md-tooltip>
                        <md-icon>power_settings_new</md-icon> STOP
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="psuALLON()" ng-if="Emergency">
                        <md-icon>offline_bolt</md-icon> All ON
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="psuALLOFF()" ng-if="Emergency">
                        <md-icon>offline_bolt</md-icon> All OFF
                    </md-button>
                    <md-button class="md-raised md-accent" ng-click="modemRESET()" ng-if="Emergency">
                        <md-icon>signal_cellular_connected_no_internet_4_bar</md-icon> Modem Reset
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
        <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary md-hue-2" ng-click="relayStatus()">
            <md-icon>offline_bolt</md-icon> Check Powers
        </md-button>
        </div>
        <md-list>
            <md-list-item ng-repeat="item in miners | filter:searchText " ng-click="fetchapi($event, $index)"
                class="noright">
                <md-icon ng-class="relaystatus.relay_{{item.relay}}">offline_bolt</md-icon>
                <img src="assets/plus.png" class="md-avatar" ng-if="item.os == 'BOS+'" />
                <img src="assets/community.png" class="md-avatar" ng-if="item.os == 'BOS'" />
                <img src="assets/cobalt.png" class="md-avatar" ng-if="item.os == 'COB'" />
                <img src="assets/antminer.png" class="md-avatar" ng-if="item.os == 'ANT'" />
                <img src="assets/avalon.png" class="md-avatar" ng-if="item.os == 'AVL'" />
                <p>{{item.alias}}: {{item.ip}}</p>
                <md-icon class="md-secondary" ng-click="showdetail = !showdetail" aria-label="Manage Device">settings
                </md-icon>
                <md-button class="md-fab md-mini md-success" ng-click="relayON(item.relay)" ng-if="showdetail">
                    <md-icon aria-label="On">power_settings_new</md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-accent" ng-click="relayOFF(item.relay)" ng-if="showdetail">
                    <md-icon aria-label="Off">power_settings_new</md-icon>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-cookies.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-messages.min.js"></script>
    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.21 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.21/angular-material.min.js"></script>
    <!-- App scripts -->
    <script src="app.js"></script>
</body>

</html>